.baseButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 12px 24px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}