.appButton {
    width: auto;
    min-width: 200px;
    padding: 12px 24px;
    background-color: #38a169;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
}