.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
}

.h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form {
    margin-top: 5vh;
    width: 100%;
    max-width: 600px;
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary {
    width: 100%;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    transform: scale(0.8);
    /* 初期スケールを1に設定 */
    transform-origin: center;
    /* 拡大縮小の中心を中央に設定 */
    width: 100%;
    /* 初期サイズを設定、必要に応じて変更 */
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveButton {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    padding: 20px;
}

.article {
    flex: 1 0 30%;
    max-width: 30%;
    box-sizing: border-box;
    padding: 10px;
}


.skeleton {
    flex: 1 0 30%;
    max-width: 30%;
    box-sizing: border-box;
    padding: 10px;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}