.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.innerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.buttonContainer>* {
    flex: 0 1 auto;
    margin: 10px;
    max-width: 300px;
}

.limitedWidthButton {
    width: 100% !important;
    max-width: 300px !important;
    margin: 10px auto !important;
}

@media (max-width: 768px) {
    .buttonContainer {
        flex-direction: column;
    }

    .buttonContainer>*,
    .limitedWidthButton {
        width: 80% !important;
        margin: 10px auto !important;
    }
}